* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;}


a {text-decoration: none;}


/* ----------------------------------- Home Page ----------------------------------- */


/* ----------------------------------- Header part ----------------------------------- */


header {
    background-color: #8c1717;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;}

.logo {
    display: flex;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;}

.header-menu {
    list-style: none;
    margin-left: 50px;}

.link-header-menu {
    transform: scale(0.8);
    color: #ffffff;
    margin: auto;}

.link-header-menu:hover {
    transform: scale(1);
    color: #000000;
    font-weight: bold;
    padding: 0%;
    margin: 0%;}


/* ----------------------------------- Body part ----------------------------------- */


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;}

#home {
    background-image: url(./Images/fumdo.jpg);
    background-size: cover;
    flex-grow: 1;}

#container-home {
    overflow: hidden;
    width: 800px;
    margin-top: 9%;
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.8);}

#wellcome-first-page {
    padding: 10px;
    font-size: 70px;
    color:#8c1717;
    text-align: center;}

#pizza-name {
    font-size: 100px;
    text-align: center;}

#slogan {
    font-size: 20px;
    padding: 10px;
    color:#000000;
    text-align: center;}


/* ------- container's bottons part (body) --------- */


#title-bottons{
    display: flex;
    justify-content:space-around;
    padding-top: 20px;}

.menu-button-title {
    font-weight: bold;
    color: #8c1717;
    text-decoration: underline;}

.contact-button-title {
    font-weight: bold;
    color: #8c1717;
    text-decoration: underline;}

#bottons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 20px;}

.menu-button {
    text-align: center;
    width: 120px;
    padding: 10px;
    margin-left: -20px;
    border: 3px solid #8c1717;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #8c1717;
    font-weight: bold;}

.contact-button {
    text-align: center;
    width: 120px;
    padding: 10px;
    margin-right: 20px;
    border: 3px solid #8c1717;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #8c1717;
    font-weight: bold;}

.menu-button:hover {
    background-color: #8c1717;
    color: rgba(255, 255, 255, 0.8);}

.contact-button:hover {
    background-color: #8c1717;
    color: rgba(255, 255, 255, 0.8);}



/* ----------------------------------- Footer part ----------------------------------- */


footer {
    display: flex;
    align-items: center;
    bottom: 0px;
    background-color: #8c1717;
    color: #ffffff;}

.footer-inform-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;}

.footer-inform {
    margin: 30px;
    list-style: none;}



/* ----------------------------------- Page's size adjust ----------------------------------- */


/* ----------------------------------- screen < 768 ----------------------------------- */


@media screen and (max-width: 768px) { 


    header {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;}
    
    .header-menu-list {
        display: inline;
        text-align: center;}

    .header-menu {
        text-align: center;
        margin: 10px;
        margin-top: 15px;
        margin-left: 60px;}

    #container-home{
        width: 70%;
        padding-bottom: 180px;}

    #wellcome-first-page {
        font-size: 30px;}

    #pizza-name {
        font-size: 30px;}

    #slogan {
        font-size: 15px;}

    #title-bottons{
        font-size: 8px;}
        
    .menu-button {
        width: 50px;
        margin-left: 1px;
        font-weight: normal;
        font-size: 10px;}
            
    .contact-button {
        width: 50px;
        font-weight: normal;
        font-size: 10px;
        margin-right: 20px;}

    footer {
        justify-content: center;
        text-align: center;
        flex-direction: column;}

    .footer-inform-list {
        display: inline;
        text-align: center;}

}


/* ----------------------------------- Contact Page ----------------------------------- */


#contact {
    background-image: url(./Images/fundo2.jpg);
    background-size: cover;
    flex-grow: 1;}

#container-contact{
    background-color: rgba(255, 2555, 255, 0.8);
    display: flex;
    width: 80%;                         
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    justify-content: space-between;
    flex-wrap: wrap;}


/*---------- social part ----------*/


#container-contact h2 {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;}


#social-contact {
    text-align: left;
    width: 40%;
    margin-left: 80px;
    padding-right: 10px;}


#container-contact ul {
    font-size: 20px;
    margin-top: 50px;
    list-style: none;}

#container-contact li {
    padding-bottom: 25px;}

.icon {
    width: 25px;
    padding-right: 20px;}


/*---------- about us part ----------*/
 

#about-us-container {
    width: 40%;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 20px;}

#paragraphs-about-us {
    margin-top: 80px;}


#about-us-container p {
    line-height: 30px;
    font-size: 20px;
    margin-top: 40px;}


#menssagem {
    color: #8c1717;
    text-decoration: underline;}


/*---------- map part ----------*/

    
#map { 
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    }


#gmap_canvas{
    width: 800px;
    height: 400px;}


/* ----------------------------------- screen < 1430px ----------------------------------- */


@media screen and (max-width: 1080px) {

    #container-contact {
        width: 80%;
        margin: auto;
        margin-top: 8%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;}

    #social-contact{
        width: 80%;
        margin: auto;}

    #container-contact h2 {
        font-size: 30px;}

    
    #container-contact ul {
        text-align: center;
        font-size: 13px;}

    .icon {
        width: 20px;}

    #about-us-container {
        width: 80%;
        margin: auto;}

    #about-us-container p {
        font-size: 15px;}

    #map { 
        text-align: center;}

    #gmap_canvas {
        width: 90%;}
    

}


/* ----------------------------------- Menu Page ----------------------------------- */


#menu {
    background-image: url(./Images/fundo2.jpg);
    background-size: cover;
    flex-grow: 1;}


#menu-list{
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;}

#menu-list h2 {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    color: #8c1717;
    font-size: 35px;}

.menu-container {
    padding: 20px;}


.menu-container h3 {
    color: #8c1717;
    font-size: 25px;}

.menu-container p {
    font-size: 18px;
    margin-left: 30px;}

.menu-container-grey {
    padding: 20px;
    background-color: rgba(105, 105, 105, 0.4);}

.menu-container-grey h3 {
    color: #8c1717;
    font-size: 25px;}

.menu-container-grey p {
    font-size: 18px;
    margin-left: 30px;}


/* ----------------------------------- screen < 1150px ----------------------------------- */


@media screen and (max-width:768px) {

    #menu-list{
        width: 70%;}

    .menu-container h3 {
        font-size: 20px;}

    .menu-container p {
        font-size: 15px;}

    .menu-container-grey h3 {
        font-size: 20px;}

    .menu-container-grey p {
        font-size: 15px;}


}